body            { font-family: sans-serif; font-size: 20px; }
img             { max-width: 100%; max-height: 100%; }

.small          { font-size: 0.6em; }

/*
.lite           { font-size: 0.8em; }
.large          { font-size: 1.2em; }
*/

.col-left       { width: 45%; float: left; }
.col-right      { width: 45%; float: right; }
.clear          { clear: both; }

.logos      img { max-height: 10%; padding: 0.5em; }

.logos-1    img { width: 100%; }
.logos-2    img { width: 45%; }
.logos-3    img { width: 30%; }
.logos-4    img { width: 20%; }
.logos-5    img { width: 15%; }

/*
.footnote       { position: absolute; bottom: 3em; }

body            { font-family: sans-serif; font-size: 19px; }

.normal-medium  { font-size: 0.9em; }
.medium         { font-size: 0.8em; }
.medium-small   { font-size: 0.7em; }
.small          { font-size: 0.6em; }

.remark-slide   { table-layout: fixed; }
.nobullets ul   { list-style-type: none; padding: 0; }
*/
